* {
    margin: 0;
<<<<<<< Updated upstream
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0%;
    
}
=======
    font-family: 'neue_montrealregular';
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Alazne- He añadido la fuente Neue */
@font-face {
    font-family: 'neue_montrealregular';
    src: url('neuemontreal-regular-webfont.woff2') format('woff2'),
         url('neuemontreal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em 1em 0em 1em;
}

#menu > :nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    justify-content: space-evenly;
}

>>>>>>> Stashed changes
